@import '~bootstrap/scss/bootstrap';

.my-bg {
    width: 100%;
    height: 100%;
    background-color: rgb(197, 197, 197);
}

.my-card {
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    background: rgb(255, 255, 255);
    box-shadow: 12px 17px 51px rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(6px);
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
    user-select: none;
    font-weight: bolder;
    color: rgb(26, 26, 26);
   
}